.bubbles-container {
  border: 1px solid aquamarine;
  .bubbles-in-air, .bubbles-on-ground {
    padding: 12px;
    min-height: 100px;
  }
  .bubbles-in-air {
    border-bottom: 1px dashed #cccccc;
    .bubble {
      background: red;
    }
  }
  .bubbles-on-ground {
    .bubble {
      background: #777777;
    }
  }
  .bubble {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
}