body {
  margin: 0;
}

header {
  padding: 12px;
  background: #66BB6A;
}
section {
  height: 500px;
  background: #ebebeb;
}

.greetings {
  color: white;
}

.greetings .daily-motivation {
  font-size: 1em;
  font-style: italic;
}

.dashboard {
  padding: 12px;
  overflow: auto;
}
.dashboard .cards {
  display: flex;
}

.footer {
  background: #4CAF50;
  overflow: auto;
  padding: 12px;
}
